.title {
  padding: 5px;
  margin: 0;
  background-color: rgb(0, 140, 255);
  font-size: large;
  font-weight: 700;
  color: #ffff;
  width: 100%;
}

.title .text {
  margin: 0;
}

.title .introduction {
  font-size: small;
  font-weight: 500;
  margin: 0;
}

.body {
  margin: 0;
  padding: 5px;
}

.row {
  display: flex;
  font-size: medium;
  font-weight: 500;
}

.select {
  padding: 5px;
  margin: auto 5px auto auto;
  width: 50%;
  font-size: small;
  border-radius: 5px;
  border-color: rgb(0, 140, 255);
}

.select:hover{
  border-width: 2px;
}

.button {
  margin: auto;
  background-color: rgb(0, 140, 255);
  color: white;
  font-size: medium;
  font-weight: 500;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;

}

.contact{
  background-color: rgb(241, 243, 244);
  padding: 5px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.icon {
  display: inline-block;
  background-color: #ffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

.contact .text{
  text-align: center;
}
